---
import {
  FieldTripCard,
  type FieldTripActivity,
} from "@components/fieldtrip/FieldTripCard";
import BaseLayout from "@layouts/BaseLayout.astro";
import { appConfig } from "@lib/env";

// Add more cards later by appending activities to this list.
const activities: FieldTripActivity[] = [
  {
    id: "field-trip-1",
    title: "Field Trip",
    description:
      "กิจกรรมต้อนรับนักศึกษาใหม่ที่ออกแบบมาเพื่อให้ผู้เข้าร่วมได้ทำความรู้จักมหาวิทยาลัย สถานที่สำคัญ และกิจกรรมต่าง ๆ ผ่านประสบการณ์ที่สนุกและน่าจดจำ พร้อมเปิดโอกาสให้พบปะเพื่อนใหม่และสร้างความทรงจำดี ๆ ไปด้วยกัน",
    time: "28 ก.พ. 69 | 23.59 น.",
    location: "ตึก AXYZ",
    registerStartDate: "2026-02-25",
    registerEndDate: "2026-02-28",
    formUrl: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
  },
  {
    id: "field-trip-2",
    title: "Field Trip 2",
    description: "testing Description brabrabra",
    time: "31 ก.ค. 69 | 12.00 น.",
    location: "ลาน QWERTY",
    registerStartDate: "2026-07-01",
    registerEndDate: "2026-07-31",
    formUrl: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
  },
];
---

<BaseLayout title={appConfig.appName}>
  <div class="w-full flex flex-col items-center">
    <div class="w-[301px] px-6 py-10">
      <header class="relative z-10 text-center">
        <h1 class="text-3xl font-bold">ลงทะเบียนกิจกรรม</h1>
      </header>
      <section
        class="relative z-10 mt-8 grid gap-6 flex justify-center items-center"
      >
        {
          activities.map((activity) => (
            <FieldTripCard activity={activity} client:load />
          ))
        }
      </section>
    </div>
  </div>
</BaseLayout>
