@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "LINE Seed Sans TH", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  /* Literally do not exist */
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--background);
  --color-secondary: var(--rpkm-pink);
  --color-primary-foreground: var(--foreground);
  --color-primary: var(--rpkm-yellow);
  --color-popover-foreground: var(--foreground);
  --color-popover: var(--background);
  --color-card-foreground: var(--foreground);
  --color-card: var(--background);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-rpkm-red: var(--rpkm-red);
  --color-rpkm-green: var(--rpkm-green);
  --color-rpkm-light-green: var(--rpkm-light-green);
  --color-rpkm-pink: var(--rpkm-pink);
  --color-rpkm-light-pink: var(--rpkm-light-pink);
  --color-rpkm-blue: var(--rpkm-blue);
  --color-rpkm-beige: var(--rpkm-beige);
  --color-rpkm-yellow: var(--rpkm-yellow);
  --color-rpkm-grey: var(--rpkm-grey);
}

:root {
  /* color from figma is a bit of (like ±2) compared to ci guideline. so i choose those from ci guideline */
  --rpkm-red: #e75225;
  --rpkm-green: #6abf73;
  --rpkm-light-green: #e3ffe7;
  --rpkm-pink: #e87e8c;
  --rpkm-light-pink: #fcdcf0;
  --rpkm-beige: #fffac9;
  --rpkm-blue: #80cae8;
  --rpkm-yellow: #fbe200;
  --rpkm-grey: #a4a3a3;

  /* seem like not tokenize yet  */
  --destructive: var(--rpkm-red);

  /*  Background */
  --background: #fffdf5;
  /*  Text */
  --foreground: #372f32;

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --border: oklch(0% 0 0);
  /* yeah */
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("../assets/fonts/lineseedsans_th_regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("../assets/fonts/lineseedsans_th_thin");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("../assets/fonts/lineseedsans_th_bold.woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("../assets/fonts/lineseedsans_th_extrabold.woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("../assets/fonts/lineseedsans_th_heavy.woff2");
  font-weight: 900;
  font-display: swap;
}
