---
import InformationPanel from "@components/home/information/InformationPanel";
---

<div class="w-full flex-col items-center justify-center overflow-x-clip py-16">
  <!-- TODO: Profile Card -->

  <InformationPanel client:load />
</div>
