---
import InformationPanel from "@components/home/information/InformationPanel";
import ProfileCardOrScanButton from "@components/home/information/ProfileCardOrScanButton";
---

<div class="w-full flex-col items-center justify-center overflow-x-clip py-8">
  <ProfileCardOrScanButton client:load />

  <InformationPanel client:load />
</div>
