---
import BaseLayout from "@layouts/BaseLayout.astro";
import JigsawLayout from "@layouts/JigsawLayout.astro";
import "../../styles/global.css";
import { appConfig } from "@lib/env";
import { ScanLine, CalendarDays, CircleAlert } from "lucide-react";
import { JigsawPanel } from "@components/jigsaw/JigsawPanel";
---

<BaseLayout title={appConfig.appName}>
  <JigsawLayout navigateBack="/">
    <div class="flex w-full max-w-sm flex-col items-center gap-6">
      <header class="flex flex-col items-center text-center">
        <div class="flex flex-col items-center">
          <h1 class="text-3xl font-bold">กิจกรรมสะสมจิกซอร์</h1>
          <h1 class="text-3xl font-bold">Chula Jigsaw Journey</h1>
        </div>
        <div class="flex flex-col items-center">
          <h2 class="text-base font-bold">สะสมชิ้นส่วน Digital Jigsaw</h2>
          <h2 class="text-base font-bold">
            จากสถานที่สำคัญรอบจุฬาฯ พร้อมรับรางวัลเมื่อสะสมครบ
          </h2>
        </div>
        <div class="flex flex-col items-center">
          <p class="flex items-start gap-1 text-base font-normal">
            <CalendarDays className="mt-0.5 size-[18px] shrink-0 text-black" />
            20 กรกฎาคม - 3 สิงหาคม
          </p>
          <p class="flex items-start gap-1 text-base font-normal">
            <CircleAlert className="mt-0.5 size-[18px] shrink-0 text-black" />
            เข้าร่วมเฉพาะนิสิตชั้นปี 1 หรือรหัส CU110
          </p>
        </div>
      </header>

      <JigsawPanel client:load />

      <a
        href="/jigsaw/scan"
        class="flex w-full items-center justify-center gap-2 rounded-xl border border-solid border-gray-400 py-3 text-center font-bold"
      >
        <ScanLine className="size-24px" />
        สแกนเพื่อรับชิ้นส่วน
      </a>
    </div>
  </JigsawLayout>
</BaseLayout>
