---
import BaseLayout from "@layouts/BaseLayout.astro";
import "../../styles/global.css";
import { appConfig } from "@lib/env";
import { Clock, ScanLine } from "lucide-react";
---

<BaseLayout title={appConfig.appName}>
  <div class="flex w-full max-w-sm flex-col items-center gap-6 p-4">
    <header class="flex flex-col items-center gap-2 text-center">
      <h1 class="text-3xl font-bold">สะสมจิกซอร์</h1>
      <div class="flex flex-col items-center gap-0.1">
        <p class="text-base font-normal">เก็บจิกซอร์ 10 จุดทั่วมหาลัย</p>
        <p class="flex items-start gap-1 text-base font-normal">
          <Clock className="mt-0.5 size-4 shrink-0 text-black" />
          20 กรกฎาคม - 3 สิงหาคม เวลา 00:00 - 23.59
        </p>
      </div>
    </header>

    <div class="grid w-full grid-cols-2 grid-rows-5 gap-3">
      {
        Array.from({ length: 10 }).map((_, i) => (
          <div
            class="aspect-[3/2] border-2 border-dashed border-gray-400"
            data-piece={i + 1}
          />
        ))
      }
    </div>

    <div
      class="flex w-full items-center gap-2 rounded-full border-2 border-dashed border-gray-400 px-4 py-2 text-sm"
    >
      <div class="h-2 flex-1 overflow-hidden rounded-full bg-gray-200">
        <div class="h-full w-[10%] bg-gray-400"></div>
      </div>
      <span class="text-base font-normal">1/10 ชิ้น</span>
    </div>

    <a
      href="/jigsaw/scan"
      class="flex w-full items-center justify-center gap-2 rounded-xl border border-solid border-gray-400 py-3 text-center font-bold"
    >
      <ScanLine className="size-24px" />
      สแกนเพื่อรับชิ้นส่วน
    </a>
  </div>
</BaseLayout>
