---
import "@styles/global.css";

type Props = {
  title: string;
  description?: string;
};
const { title, description = "RPKM 2026 frontend application" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-background text-foreground font-sans">
    <main
      class="min-h-screen sm:max-w-md sm:mx-auto sm:py-6 grid place-items-center"
    >
      <slot />
    </main>
  </body>
</html>
