---
import { Footer } from "@components/shared/Footer";
import { cn } from "@lib/utils";
import "@styles/global.css";

type Props = {
  title: string;
  description?: string;
  showFooter?: boolean;
};

const {
  title,
  description = "RPKM 2026 frontend application",
  showFooter = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-background text-foreground font-sans">
    <main
      class={cn(
        "sm:max-w-md sm:mx-auto grid place-items-center",
        showFooter ? "min-h-[calc(100vh-1rem)]" : "min-h-screen",
      )}
    >
      <slot />
    </main>
    {showFooter && <Footer client:load />}
  </body>
</html>
