---
import { Footer, type FooterVariant } from "@components/shared/Footer";
import { cn } from "@lib/utils";
import "@styles/global.css";

type Props = {
  title: string;
  description?: string;
  showFooter?: boolean;
  footerVariant?: FooterVariant;
};

const {
  title,
  description = "RPKM 2026 frontend application",
  showFooter = false,
  footerVariant = "default",
} = Astro.props;
---

<!doctype html>
<html lang="en" translate="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-background text-foreground font-sans">
    <main
      class={cn(
        "grid place-items-center relative z-1",
        footerVariant === "landing"
          ? ""
          : cn(
              "sm:max-w-md sm:mx-auto",
              showFooter ? "min-h-[calc(100vh-1rem)]" : "min-h-screen",
            ),
      )}
    >
      <slot />
    </main>
    {showFooter && <Footer variant={footerVariant} client:load />}
  </body>
</html>
