---
import { NavigationMenu } from "@components/shared/NavigationMenu";
import Image from "astro/components/Image.astro";
import logo from "../assets/images/rpkm_logo.png";
import { ChevronLeft } from "lucide-react";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  navigateBack?: string;
  showMenu?: boolean;
  showLogo?: boolean;
}

const {
  navigateBack = "",
  showMenu = true,
  showLogo = true,
  ...rest
} = Astro.props;
---

<div class:list={["relative w-full min-h-160 frameContainer"]} {...rest}>
  {
    showLogo && (
      <div class="absolute left-0 right-0 top-[7.5cqw] grid place-items-center">
        <Image src={logo} alt="firstdate logo" class="h-[28cqw] w-fit" />
      </div>
    )
  }

  {
    navigateBack && (
      <div class="absolute left-4 right-4 top-[4.5cqw] h-12 flex items-center">
        <a href={navigateBack}>
          <ChevronLeft className="size-6.5 text-muted" />
        </a>
      </div>
    )
  }

  {
    showMenu && (
      <div class="absolute right-4 top-[4.5cqw] h-12 flex items-center">
        <NavigationMenu client:load />
      </div>
    )
  }
</div>

<style>
  .frameContainer {
    container-type: inline-size;
  }
</style>
